<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">

    <link rel="stylesheet" href="~/plugins/jqueryui/css/jquery-ui-1-12-1.css">
    <!-- Pignose Calender -->
    <link href="~/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-custom.css" rel="stylesheet">
    <style>
        .box {
            padding: 0;
        }

            .box select {
                background-color: #7571f9;
                color: white;
                padding: 12px;
                width: 100%;
                font-size: 0.875rem;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
                -webkit-appearance: button;
                appearance: button;
                outline: none;
            }

            .box:hover::before {
                color: rgba(255, 255, 255, 0.6);
                background-color: rgba(255, 255, 255, 0.2);
            }

            .box select option {
                padding: 30px;
            }
    </style>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.php">
                    <b class="logo-abbr"><img src="~/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">Hi</li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="./profile.php"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="page-error-404.php">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>

                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.php"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-logout.php"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a asp-controller="Dashboard" asp-action="Index">
                            <i class="icon-speedometer menu-icon"></i> <span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-label">Apps</li>
                    <li>
                        <a asp-controller="QuanLyNhanVien" asp-action="Index">
                            <i class="icon-grid menu-icon"></i> <span class="nav-text">Quản lý nhân viên</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="PhongBan" asp-action="Index">
                            <i class="icon-tag menu-icon"></i> <span class="nav-text">Quản lý phòng ban</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="HopDong" asp-action="Index">
                            <i class="icon-basket menu-icon"></i> <span class="nav-text">Quản lý hợp đồng</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="BangLuong" asp-action="Index">
                            <i class="icon-note menu-icon"></i> <span class="nav-text">Bảng lương</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-people menu-icon"></i> <span class="nav-text">Users</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->


    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/js-custom.js"></script>

    <script src="~/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Form Picker Init JavaScript -->
    <script src="~/js/plugins-init/form-pickers-init.js"></script>

    <!-- jQuery UI library -->
    <script src="~/plugins/jqueryui/js/jquery-ui-1-12-1.js"></script>
</body>

</html>
